{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Automatas de Pila {% endblock %}</title> 

	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<script type="text/javascript" src="{% static 'js/fontawesome-all.js' %}"></script>

	{% block extrahead %}
	{% endblock %}
</head>
<body>

	{% block header %}
		{% include 'base/sections/header.html' %}
	{% endblock %}

	{% block content %}
		<h4>Soy el content</h4>

	{% endblock %}

	{% block footer %}
		{% include 'base/sections/footer.html' %}
	{% endblock %}
	
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

	{% block extrajs %}
	{% endblock %}
</body>
</html>