#expression-panel {
	padding: 10px;
	min-height: 85px;
}

.letter {
	font-size: 25px;
	padding: 6px;
	display: inline-block;
	border-radius: 50%;
	line-height: 0.8;
}
div#resultado-automata {
	font-size: 20px;
	font-weight: 600;
	color: white;
}
table  span.badge {
	font-size: 17px !important;
	margin: 0;
	padding: 0;
	border-radius: 20px !important; 
	font-weight: 400 !important;
}
table span.badge:hover{
	background-color: white !important;
	color: teal !important;
}


#grafoAutomata {
	border: 2px dashed rgba(0,0,0,.3);
	border-radius: 4px;
	height: 290px;
	background-color: rgba(0,0,0,.07);
	position: relative;
	overflow: hidden;
}
#titulo-grafo {
	position: absolute;
	top: 10px;
	left: 225px;
	font-weight: 600;
}
.state	{
	border: 2px solid black;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 20px;
	font-weight: 500;
	background-color: white;
	z-index: 2;

	position: absolute;
	top: 130px;
}
#state-p {
	left: 120px;
}
#state-q {
	left: 320px;
}
#state-r {
	left: 520px;
}
.acceptance-status {
	border: 2px solid black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.transition-line {
	width: 150px;
	height: 2px;
	background-color: black;
	
	position: absolute;
	top: 156px;
}
.transition-circle {
	border: 2px solid black;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 1;	
	top: 90px;
}
#transition-0 {
	left: 80px;
	width: 40px;
}
#transition-1 {
	left: 105px;
}
#transition-2 {
	left: 170px;
}
#transition-3 {
	left: 325px;
}
#transition-4 {
	left: 370px;
}

.transition-text{
	font-size: 18px;
	position: absolute;
	font-weight: 500;
	line-height: 1.2;
}
#transition-text-1 {
	top: 15px;
	left: 15px;
}
#transition-text-2 {
	top: 162px;
	left: 200px;
}
#transition-text-3 {
	top: 75px;
	left: 390px;
}
#transition-text-4 {
	top: 160px;
	left: 420px;
}

.t-arrow {
	position: absolute;
	font-size: 40px;
	z-index: 3;
	color: black;
}
#t0-arrow, #t2-arrow, #t4-arrow {
	top: 137px;
	transform: rotate(-90deg);
}
#t0-arrow {
	left: 96px;
}
#t1-arrow {
	top: 111px;
	left: 142px;
	transform: rotate(25deg);
}
#t2-arrow {
	left: 295px;
}
#t3-arrow {
	top: 122px;
	left: 352px;
	transform: rotate(48deg);
}
#t4-arrow {
	left: 495px;
}

#pilaAutomata {
	border: 2px dashed rgba(0,0,0,.3);
	border-radius: 4px;
	min-height: 290px;
	background-color: rgba(0,0,0,.07);
	/*position: relative;*/
}
#borde-pila {
	/*border: 3px solid black;*/
	/*border-top: none;*/
	width: 60px;
	height: 160px;
	margin-top: 10px;
}
.posicion {
	border: 2px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	height: 20px;
	font-size: 16px;
	color: black;
	line-height: 1.1;
	transition: opacity 1s;
	/*font-weight: 500;*/
}
.noShow {
	opacity: 0;
}
.show {
	opacity: 100;
}
.transition-text > span {
	border-radius: 50px;
	padding: 0px 10px 0px 10px;
}