{% extends 'base/base.html' %}
{% load staticfiles %}


{% block title %} Autómata Par {% endblock %}

{% block content %}
	
	{% for a in automata %}
		<div class="container">
			<br>
			<div class="row">
				<div class="col s12 l8">
					<h4>{{ a.name }}</h4>
					<big>{{ a.description }}</big><br><br>
						<div class="col s8 m6">
							<div class="input-field">
								<!-- <i class="material-icons prefix">account_circle</i> -->
								<input type="text" name="expression" id="expression"  data-length="10" maxlength="10" required>
								<label for="expression">Expresión</label>
							</div>
						</div>
						<div class="col s4 m2">
							<div class="input-field">
								<button class="btn waves-effect waves-light" id="submit">Validar</button>
							</div>
						</div>
					
				</div>
				<div class="col s12 l4">	
					<div class="card-panel z-depth-2 hoverable" style="padding: 5px;">
						<center><big><b>Ejemplos</b></big></center>
						<table class="highlight responsive-table centered">
							<thead>
								<th>Aceptadas</th>
								<th>No aceadas</th>
							</thead>
							<tbody>
								<tr>
									<td>
										abba <a href="{% url 'automata:parEvaluar' 'abba' %}" class="rigt"><span class="new badge waves-effect" data-badge-caption="try"></span></a>
									</td>
									<td>
										abbba <a href="{% url 'automata:parEvaluar' 'abbba' %}" class="riht"><span class="new badge waves-effect" data-badge-caption="try"></span></a>
									</td>
								</tr>
								<tr>
									<td>
										babaabab <a href="{% url 'automata:parEvaluar' 'babaabab' %}" class=right"><span class="new badge waves-effect" data-badge-caption="try"></span></a>
									</td>
									<td>
										abab <a href="{% url 'automata:parEvaluar' 'abab' %}" class="rigt"><span class="new badge waves-effect" data-badge-caption="try"></span></a>
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
			</div>
		{% if expression %}
			<div class="row">
				<div class="col m12 l8">
					<div class="card-panel center-align grey lighten-3" id="expression-panel">
						<div class="row" style="margin-bottom: 0;">
							{% for letter in expression %}
								<div class="letter">{{ letter }}</div>
							{% endfor %}
						</div>
						<div id="resultado-automata"></div>
					</div>
				</div>
				<div class="col m12 l4">
					<div class="card-panel center-align grey lighten-3">
						<button class="btn btn-floating waves-effect waves-light blue pulse" id="play"><i class="material-icons">play_arrow</i></button>
					</div>
				</div>
			</div>
		{% endif %}

		<div class="row">
			<div class="col s12 l8 waves-effect waves-teal">				
				<div id="grafoAutomata">
					<big id="titulo-grafo">Grafo del Autómata</big>
					<!-- estados -->
					<div class="state valign-wrapper" id="state-p">
						<div class="container center-align">p</div>
					</div>
					<div class="state valign-wrapper" id="state-q">
						<div class="container center-align">q</div>
					</div>
					<div class="state valign-wrapper" id="state-r">
						<div class="center-align" style="width: 100%;">
							<center><div class="acceptance-status">r</div></center>
						</div>
					</div>
					
					<!-- transiciones -->
					<div class="transition-line" id="transition-0"></div>
					<i class="material-icons t-arrow" id="t0-arrow">arrow_drop_down</i>

					<div class="transition-circle" id="transition-1"></div>
					<i class="material-icons t-arrow" id="t1-arrow">arrow_drop_down</i>
					<div class="transition-text" id="transition-text-1">
						<span id="b-b-bb">b, b / bb</span> <br>
						<span id="a-b-ba">a, b / ba</span> <br>
						<span id="b-a-ab">b, a / ab</span> <br>
						<span id="a-a-aa">a, a / aa</span> <br>
						<span id="b-N-Nb">b, # / #b</span> <br>
						<span id="a-N-Na">a, # / #a</span>
					</div>

					<div class="transition-line" id="transition-2"></div>
					<i class="material-icons t-arrow" id="t2-arrow">arrow_drop_down</i>
					<div class="transition-text" id="transition-text-2">
						<span id="b-b-L">b, b / &lambda;</span> <br>
						<span id="a-a-L">a, a / &lambda;</span>
					</div>

					<div class="transition-circle" id="transition-3"></div>
					<i class="material-icons t-arrow" id="t3-arrow">arrow_drop_down</i>
					<div class="transition-text" id="transition-text-3">
						<span id="b-b-L">b, b / &lambda;</span> <br>
						<span id="a-a-L">a, a / &lambda;</span>
					</div>

					<div class="transition-line" id="transition-4"></div>
					<i class="material-icons t-arrow" id="t4-arrow">arrow_drop_down</i>
					<div class="transition-text" id="transition-text-4">
						<span id="L-N-N">&lambda;, # / #</span>
					</div>
				</div>		
			</div>
			<div class="col s12 l4">
				<div id="pilaAutomata" class="center-align" >
					<big>Pila del Autómata</big>
					<center>
						<div id="borde-pila">
							<div class="posicion noShow" id="posicion-12"></div>
							<div class="posicion noShow" id="posicion-11"></div>
							<div class="posicion noShow" id="posicion-10"></div>
							<div class="posicion noShow" id="posicion-9"></div>
							<div class="posicion noShow" id="posicion-8"></div>
							<div class="posicion noShow" id="posicion-7"></div>
							<div class="posicion noShow" id="posicion-6"></div>
							<div class="posicion noShow" id="posicion-5"></div>
							<div class="posicion noShow" id="posicion-4"></div>
							<div class="posicion noShow" id="posicion-3"></div>
							<div class="posicion noShow" id="posicion-2"></div>
							<div class="posicion" id="posicion-1">#</div>
						</div>
					</center>
				</div>
			</div>
		</div>
			
		</div>


	{% empty %}	
		<h4>Upps, No encontramos lo que buscabas :(</h4>

	{% endfor %}
	
	<div id="dataTable" class="hide"></div>


{% endblock %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'css/automata-styles.css' %}">
{% endblock %}

	
{% block extrajs %}
	<!-- <script type="text/javascript" src="{% static 'js/scriptAutomata.js' %}"></script> -->
	<script type="text/javascript">
		$(document).ready(function() {
		
	   		$('input#expresion').characterCounter();

			$('#submit').click(function(){
				input_expression = $('#expression').val();
				if (input_expression != ''){
					location.href = "{% url 'automata:parEvaluar' 'ab' %}".replace(/ab/, input_expression);  
				}else{
					Materialize.toast('Debe ingresar una expresion!', 4000);
				}
			});

			{% if expression %}
				// Si se tiene una expresion se coloca en el input
				var expression = '';
			    {% for letter in expression %}
			    	expression = expression +"{{letter}}";
			    {% endfor %}
			    $('#expression').val(expression);
				

				// Asignacion de la ids para cada letra de la expresion
		    	var span_letters = $('.letter').siblings();
		    	for (var i=0; i<span_letters.length; i++){
		    		$(span_letters[i]).attr('id','letter-'+(i+1));
		    	}


			{% endif %}

			{% if result %}

				{% if result.dataTable %}
					// convercion de la dataTable generada en la funcion validar a json
					$('#dataTable').html("{{ result.dataTable }}");
					str = $('#dataTable').text();
					str = str.replace(/'/gi,'"');
					str = str.replace(/_/gi,'-');
					str = str.replace(/~/gi,'L');
					str = str.replace(/#/gi,'N');
					str = str.replace(/ID/gi,'#');
					// console.log(str)
					dataTable = JSON.parse(str);
					console.log(dataTable);

					$('#play').click(function(){
						visualizarPasoAPaso();
						$('#play').removeClass('pulse');
						$('#play').addClass('disabled');
						Materialize.toast("Se ha inciado la visualizacion paso a paso", 4000)
					});
				{% else %}
					$('#play').click(function(){
						Materialize.toast("Error: No se puede iniciar la visualizacion ", 4000)
					});
				{% endif%}

				function visualizarPasoAPaso(){
					var class_letter = "teal accent-3 pulse";
					var class_state = "teal accent-3 pulse";
					var class_rule = "teal accent-3 pulse";

					var c = 1, cpila = 1;
					var entre = false; 
					var interval = setInterval(function(){	

					 	if ((c > 1) && (dataTable[c].letter !== dataTable[c-1].letter)){
					 		$(dataTable[c-1].letter).removeClass(class_letter);
					 		// $(dataTable[c-1].letter).addClass('grey lighten-1');
					 		$(dataTable[c].letter).addClass(class_letter);
					 	}else{
					 		$(dataTable[c].letter).addClass(class_letter);
					 	}

					 	if ((c > 1) && (dataTable[c].state !== dataTable[c-1].state)){
					 		$(dataTable[c-1].state).removeClass(class_state);
					 		$(dataTable[c].state).addClass(class_state);
					 	}else{
					 		$(dataTable[c].state).addClass(class_state);

					 	}

					 	if ((c > 1) && (dataTable[c].rule !== dataTable[c-1].rule)){
					 		$(dataTable[c-1].rule).removeClass(class_rule);
					 		$(dataTable[c].rule).addClass(class_rule);
					 	}else{
					 		$(dataTable[c].rule).addClass(class_rule);
					 	}
					 	// console.log('este tiene',dataTable[c].stack.length," elementos -1 "+dataTable[c].stack[dataTable[c].stack.length-1]);
					 	if (c > 1) {
					 		var letter_id = dataTable[c].letter.replace(/#letter-/,'');
					 		if ((letter_id != c) && (!entre)){
					 			entre = true;
					 			console.log("restauracion de pila en ",letter_id);
					 			for (var i=c; i>letter_id; i--){
					 				$("#posicion-"+i).text("");
							 		$("#posicion-"+i).addClass('noShow');
					 			}
					 		}
				 			for (var i=0; i<dataTable[c].stack.length; i++){	
						 			
					 			if (dataTable[c].stack[i] != 'L'){
						 			$("#posicion-"+cpila).text(dataTable[c].stack[i]);
						 			$("#posicion-"+cpila).removeClass('noShow');
						 			if (i == 0) cpila++;
					 			}else{
					 				cpila --;
					 				console.log("entre", cpila);
					 				$("#posicion-"+cpila).text("");
						 			$("#posicion-"+cpila).addClass('noShow');

					 			}
					 		}
				 			
					 	}else{
					 		cpila ++;
					 		$("#posicion-"+cpila).text(dataTable[c].stack[dataTable[c].stack.length-1])
					 		$("#posicion-"+cpila).removeClass('noShow');
					 	}
					 	

					    if (c === Object.keys(dataTable).length){
							console.log("Fin de la ejecucion paso a paso");
					    	clearInterval(interval);
							var sw = false; 
							var interval2 = setInterval(function(){	
							    if (sw === false){
							    	sw = true;
									{% if result.isPalindrome %}
										console.log("c vale ",c-1)
										$(dataTable[c-1].rule).removeClass(class_rule);
										$('#state-p').removeClass(class_state);
										$('#state-q').removeClass(class_state);
										$('#state-r').addClass(class_state);

										$('#resultado-automata').text("Expresión Aceptada");
										var padre = $('#resultado-automata').parent();
										$(padre).removeClass('grey lighten-3');
										$(padre).addClass('teal accent-4');
									{% else %}
										$('#resultado-automata').text("Expresion No aceptada");
										var padre = $('#resultado-automata').parent();
										$(padre).removeClass('grey lighten-3');
										$(padre).addClass('red lighten-1');
									{% endif%}

							    }else{
									console.log("Fin de la ejecucion paso a paso 2");
							    	clearInterval(interval2);
							    }
							}, 1000);
					    }
					    c++;	
					}, 2000);
				
				}
			{% endif%}

		});
		
	</script>
{% endblock %}
